html
   head
      title Server Render con Express + Pug
   body
      main
         img(src=film.Poster)
         h1 #{film.Title}
         p Year: #{film.Year}
         p Release date: #{film.Released}
      