html
   head
      title Server Render con Express + Pug
   body
      form(action="/film" method="post")
         label(for="title") Nombre película:
         input(type="text" id="title" name="title") 
         br 
         br
         input(type="submit" value="Submit")
